AddDefaultCharset UTF-8
DefaultLanguage en-US

<FilesMatch "\.(ico|jpg|jpeg|png|gif|js|css)(\.gz)?$">
    Header unset ETag
    FileETag None
</FilesMatch>

#<ifModule mod_deflate.c>
#	<FilesMatch "\.(js|css)$">
#		SetOutputFilter DEFLATE
#	</FilesMatch>
#	AddOutputFilterByType DEFLATE application/json
#	AddOutputFilterByType DEFLATE application/javascript
#</ifModule>

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ index.php?_url=/$1 [QSA,L]
</IfModule>